body{
margin: 0;
padding: 0;
background-image: linear-gradient(to right, #first color, #second color);
}

.container {
display: flex;
align-items: center;
justify-content: center;
background-image: linear-gradient (to right, #first color, #second color);

}

