body{
margin: 0;
padding: 0;
background-image: linear-gradient(to right, #b600ff, #fabef7);
}

#Play{
  margin-top: 20px;
}

.container {
align-items: center;
justify-content: center;
background-image: linear-gradient(to right, #00b2de, #ffffff);
height: 400px;
width: 100;
}

#game{
  display: none;
}
.ques1{
  color: red;
}

